.login-form .cell .clear,.login-form .cell i,.login-form .cell s,.login-social .con .social-icon,.user-login-box .close{background-image:url(../images/icon_login.gif);background-repeat:no-repeat}
.user-login-box{position:fixed;top:50%;left:50%;z-index:100001;margin-top:-190px;margin-left:-250px;font-size:12px;border:1px solid #bcbcbc;background:#fff;box-shadow:0 5px 15px rgba(0,0,0,.15);width:500px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight/2));}
.user-login-box h3{height:50px;padding:0 15px 0 0;line-height:50px;font-size:16px;border-bottom:1px solid #eee;background:#f7f7f7;margin: 0px;}
.user-login-box h3 .user-login-tab{float:left;font-size:18px;height:51px;line-height:51px;width:180px;text-align:center;font-weight:400;border-right:1px solid #eee;cursor:pointer}
.user-login-box h3 .user-login-cur{background:#fff}
.user-login-box .close{position:absolute;top:13px;right:13px;width:23px;height:23px;line-height:10;overflow:hidden;background-position:-56px 0}
.user-login-box .close:hover{background-position:-79px 0}
.login-form{position:relative;width:460px;padding:30px 20px 8px;zoom:1}
.login-form .top-hint{position:absolute;top:-21px;left:-1px;line-height:20px;color:#e90000}
.login-form .cell{position:relative;height:38px;margin-bottom:20px;border:1px solid #ddd;background:#fff}
.login-form .cell i{position:absolute;top:5px;left:9px;width:28px;height:28px}
.login-form .cell .in-account{background-position:0 0}
.login-form .cell .in-password{background-position:-28px 0}
.login-form .cell label{position:absolute;top:0;left:50px;height:38px;line-height:38px;color:#999;cursor:text;font-size:14px;}
.login-form .cell input{position:absolute;top:0;left:0;width:392px;height:26px;margin:0;padding:6px 15px 7px 50px;line-height:26px;font-size:18px;color:#333;border:0 none;background:0 0}
.login-form .cell .clear,.login-form .cell s{position:absolute;top:11px;right:11px;z-index:2;width:17px;height:17px;line-height:10;overflow:hidden}
.login-form .cell .clear{background-position:0 -28px}
.login-form .cell .clear:hover{background-position:-17px -28px}
.login-form .cell .hint-suc{background-position:-34px -28px}
.login-form .cell .hint-err{background-position:-51px -28px}
.login-form .status{height:16px;margin-top:-10px;margin-bottom:10px;line-height:16px;text-align:right}
.login-form .status input{float:left;width:14px;height:14px;margin:1px 5px 0 0}
.login-form .status label{float:left}
.login-form .status a{color:#0d47a1}
.login-form .action .button{display:block;height:50px;line-height:50px;text-align:center;font-size:18px;color:#fff;background:#3f97e2;cursor:pointer}
.login-form .action .button:hover{text-decoration:none;background:#2a82cc}
.login-form .action span{display:block;line-height:30px}
.login-form .action span a{color:#0d47a1}
.account-hint-popup{position:absolute;top:69px;left:20px;z-index:11;width:318px;padding:5px 0;border:1px solid #ddd;background:#fff}
.account-hint-popup h4{padding:0 15px;line-height:30px;font-size:12px;font-weight:400;color:#999}
.account-hint-popup ul li{display:block;height:30px;padding:0 15px;line-height:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666;cursor:default;-webkit-user-select:none}
.account-hint-popup ul li:hover{color:#666;background:#eee}
.account-hint-popup ul li.hv{background:#eee}
#loginBox,#loginout,#username{display:none}